<label for="strider-python-prepare" class="bold-label">Prepare Command</label>
<input id="strider-python-prepare" type="text" ng-model="config.prepare" placeholder="pip install -r requirements.txt"/>
<p class="help-text">
  Enter which command should be used to prepare your project. The default is
  "pip install -r requirements.txt". For example, this could be "python setup.py
  develop" for some projects.
</p>

<label for="strider-python-runtime" class="bold-label">Virtual environment python version</label>
<input id="strider-python-runtime" type="text" ng-model="config.runtime" placeholder="2"/>
<p class="help-text">
  Enter the python version to be used for your project. (eg. 2.7, 3.5 etc.)
</p>

<label for="strider-python-test" class="bold-label">Test Command</label>
<select id="strider-python-test" ng-model="config.test">
  <option value="python setup.py test">python setup.py test</option>
  <option value="make test">make test</option>
  <option value="py.test">py.test</option>
  <option value="python manage.py test">python manage.py test</option>
  <option value="none">No test command</option>
</select>
<p class="help-text">
  Select which command should be used to test your
  project. Alternatively, select "No test command" if you are going to test using
  some other plugin.
</p>

<button class="btn btn-primary" ng-click="save()">Save</button>
